.navbar{
    height: 5 rem ;
    position:sticky !important;
    
}
.fa-tractor{
    color:green;
    font-size: 2 rem ;
}
footer {
    background-color:rgba(220, 220, 220);
    color: rgb(71, 40, 40); 
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

.f-info-socials {
    margin-bottom: 10px;
}

.f-info-links a {
    color: #776f83;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.f-info-links a:hover {
    text-decoration: underline;
}

footer div {
    margin: 5px 0;
}
.card{
    border: none;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit:cover !important;
}
.card-body{
    padding:0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none ;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity:0.2;
    background-color: white ;
}
